/* 共通のCSS */
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, 'Hiragino Kaku Gothic Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  letter-spacing: 0.05em;
  background-color:#f7f3e9;
  width: 100%;
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #70c7ff;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.box17{
    margin:1em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}

.ribbon_box {    
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 10px 0;
    width: 300px;
    height: 55px;
    background: #ffffff;
    border: solid 2px #e8e2d7;
    
  }
.ribbon17 {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
    box-sizing: border-box;
    padding: 0 12px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: white;
    background: #70c7ff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}
.ribbon17:before {
    position: absolute;
    content: '';
    top: 0;
    left: -7px;
    border: none;
    height: 38px;
    width: 7px;
    background: #70c7ff;
    border-radius: 5px 0 0 5px;
}
.ribbon17:after {
    position: absolute;
    content: '';
    bottom: -7px;
    left: -5px;
    border: none;
    height: 7px;
    width: 5px;
    background: #4d99ca;
    border-radius: 5px 0 0 5px;
}

/*下の部分の枠*/
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item {
  width: 186px;
  height: 80px;
  margin-bottom: 1em;
  border: 1px solid #999;
}
.item2 {
  width: 186px;
  height: 80px;
  margin-bottom: 1em;
  /*border: 1px solid #999;*/
}

form {
  width: 100%;
  padding: 10px;
  /*border: 1px solid #CCC;*/
  /*border-radius: 1em;*/
}

form div + div {
  margin-top: 1em;
}

label {
	position: relative;		/* 選択ボックスの位置指定 */ 
	display: block;			/* ブロックレベル要素化にする */ 
	width: 150px;			/* ボックスの高さを指定する */
	border: 2px; /* ボックスの境界線を実線で指定する */
	border-radius: 5px;		/* ボックスに角丸を指定する */
	background: #fff;		/* ボックスの背景色を指定する */
}
label:before {
	position: absolute;	/* 矢印の位置を指定する */
	content: "";		/* 矢印のコンテンツ */ 
	top: 50%;			/* 下部から配置の基準位置を決める */ 
	right: 10px;		/* 右側から配置の基準位置を決める */ 
	width:0px;			/* ボックスの横幅をなしに指定する */
 	height:0px;			/* ボックスの高さをなしに指定する */
	margin: -2px 0 0 0;	/* ボックス外側の余白を指定する */
	border: 5px solid transparent;	/* 矢印の境界線を透過する */
	border-top: 5px solid #326693;	/* 矢印ボックス上部の境界線を実線で指定する */
	cursor: pointer;		/* マウスカーソルの形を指定する */
	pointer-events: none;	/* マウスイベントを制御する */
}

select {
	-webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
	-moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
	appearance: none;		/* 標準のスタイルを無効にする */ 
	display: block;			/* ブロックレベル要素化する */ 
	width: 150px;			/* ボックスの高さを指定する */
	padding: 10px 15px;		/* ボックス内側の余白を指定する */
	color: #b20000;			/* フォントの色を指定 */
	border: none;			/* 境界線をなしに指定する */
	border-radius: 5px;		/* 角丸を指定する */
	background: transparent;
	font-size:14px;
}
::-ms-expand {		/* select要素のデザインを無効にする（IE用） */
	display: none;
}

input[type="description"],input[type="file"], textarea {
  font: 1em sans-serif;
  width: 350px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
}

input[type="title"]{
  font: 1em sans-serif;
  width: 150px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
}

input[type="submit"]{
  font: 1em sans-serif;
  width: 50px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px; /* label 要素と同じサイズ */
}

button {
  margin-left: .5em;
}
/*ヘッターのcss*/
.mypage-post-tab {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color:#f7f3e9;
  
}
.mypage-post-tab li {
    padding: 15px;
    cursor: pointer;
    list-style: none;
}
.mypage-tab-img {
      width: 24px;
      height: 21px;
}

/*bodyのcss*/
.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 60px;
}
.photo-list li {
    flex-basis: 50%;
    list-style: none;
}
.photo-list-img {
    display: inline-block;
    width: 100%;
    /*border: 1px solid #fff;*/
    background-size:cover;
    height: 200px;
}